# Logo on left hand side 
# change photos
# Partners Logo
# Buses Models
# Mail routing
# Phone no. Khuwat
# Social Media 

##Website changes:##

Website changes: Hero Image Natrtional Travels *
Website changes: Car rental 
Website changes: Enquiry Form
Website changes: logo NTR Sabir
Website changes: SEO
Website changes: Bus Details *
Website changes: TT School 16 seater College/Corporate 12 seater *
Website changes: Cars *
Website changes: sedan *
Website changes: --Toyota Etios - * 
Website changes: --Swift Dzire - *
Website changes: --Ciaz - *
Website changes: SUV *
Website changes: --Innova Crysta - *
Website changes: --Ertiga - *
Website changes: Premium Cars * 
Website changes: --Jaguaar *
Website changes: --Audi *
Website changes: --Mercedes *
Website changes: --BMW *
Website changes: --Rolls Royce *
Website changes: 
Website changes: 
Website changes: Contact Details in Header *
Website changes: Service Page newtravelzone.com/services.php  newtravelzone.com/whychoooseus.php
Website changes: Gallery Page
Website changes: About Us
Website changes: Contact Us
Website changes: Clients Page
Website changes: Social Media Handles
Website changes: Phone number in header *
Website changes: Mail ID in header *
Website changes: Traning photos
Website changes: Mail ID
Website changes: Phone number
Website changes: Clienst list additions + Intel
Website changes: Remove chennai Bus
Website changes: Euro busses additions



##Photos and Videos:##




